button {
    cursor: pointer; /*Altera o cursor do mouse quando ele passa sobre um elemento específico*/
}


.quiz-container {
    margin: 0 auto; /*Espaçamento externo do elemento*/
    background-color: #e6f0ff; /*Cor de fundo da caixa*/
    color: #333; /*Cor do texto*/
    width: 98%; /*Largura*/
    max-width: 800px; /*Largura máxima*/
    border: 2px solid black; /*Bordas para as caixas*/
    border-radius: 6px; /*Bordas arredondadas*/
    padding: 16px; /*Espaçamento entre o conteudo e borda*/
    box-shadow: 0 0 2px 2px; /*Sombra sutil*/
    display: flex; /*Permite organizar elementos em um container de forma flexível*/
    flex-direction: column; /*Indica que os elementos flexíveis serão exibidos em uma única coluna, de cima para baixo*/
    justify-content: center; /*Alinha os elementos horizontalmente*/
    align-items: center; /*Alinha os itens no centro*/
}


.questions-container {
    display: flex; /*Permite organizar elementos em um container de forma flexível*/
    flex-direction: column; /*Indica que os elementos flexíveis serão exibidos em uma única coluna, de cima para baixo*/
    justify-content: center; /*Alinha os elementos horizontalmente*/
    align-items: center; /*Alinha os itens no centro*/
    gap: 24px; /*Define o espaçamento entre as linhas e colunas de um grid ou flexbox*/
}


.question {
    font-size: 24px; /*Tamanho da letra*/
    font-weight: bold; /*Negrita o texto*/
    text-align: center; /*Centraliza o conteúdo de elementos*/
}


.answers-container {
    width: 80vh; /*Largura*/
    display: grid; /*Permite dimensões, usando uma grade de linhas e colunas*/
    grid-template-columns: 1fr 1fr; /*Define os nomes das linhas e as funções de dimensionamento das colunas do grid*/
    gap: 16px; /*Define o espaçamento entre as linhas e colunas de um grid ou flexbox*/
    margin-right: 9em; /*Move as caixas 9em para a direita*/
}


.answer {
    width: 50vh; /*Largura*/
}


.final-message {
    font-size: 20px; /*Tamanho da letra*/
    text-align: center; /*Centraliza o conteúdo de elementos*/
}


.final-message span {
    display: block; /*Define que um elemento será exibido como um bloco*/
    margin-top: 8px; /*Move a mensagem 8px para baixo*/
    text-align: center; /*Centraliza o conteúdo de elementos*/
}


.next-question {
    margin-top: 32px; /*Move o texto 32px para baixo*/
}


.button {
    background-color: #4863f7; /*Cor de fundo da caixa*/
    color: #fff; /*Cor do texto*/
    font-size: 16px; /*Tamanho da letra*/
    font-weight: bold; /*Negrita o texto*/
    border: 0; /*Bordas para as caixas*/
    border-radius: 6px; /*Bordas arredondadas*/
    height: 75px; /*Altura*/
    padding: 0 32px; /*Espaçamento entre o conteudo e borda*/
    transition: filter 0.2s; /*Define um efeito de filtro com uma duração de 0,2 segundos*/
}


.answer:disabled {
    cursor: not-allowed; /*Cursor fica desabilitado depois que a opção for escolhida*/
}


.button:not(:disabled):hover {
    filter: brightness(0.8); /*Aplica um efeito de sombreamento (brightness) ao elemento com a classe .button quando o usuário passa o mouse sobre ele (hover), menos o que estiver 'disabled'*/
}


.hide {
    display: none; /*Indica que um elemento não deve ser exibido na página*/
}


.correct {
    background-color: #049b48; /*Cor do fundo*/
}


.incorrect {
    background-color: #a10101; /*Cor do fundo*/
}





/*Responsividade*/
/*Computadores*/
@media (max-width: 1024px) {
    .container {
        max-width: 900px; /*Largura máxima*/
    }

    .answers-container {
        margin-left: 0em; /*Move o texto 5em para a direta*/
    }

    .button {
        height: 75px; /*Altura*/
    }
}


/*Tablets*/
@media(min-width: 600px) and (max-width: 912px){
    .container {
        width: 90%; /*Largura*/
    }

    .question {
        font-size: 18px; /*Tamanho da letra*/
    }

    .answers-container {
        margin-left: 14em; /*Move o texto 5em para a esquerda*/
        display: grid; /*Permite criar layouts de grade bidimensionais*/
        grid-template-columns: 1fr; /*Define os nomes das linhas e as funções de dimensionamento das colunas do grid*/
    }

    .button {
        width: 450px; /*Largura*/
        margin-right: 92px; /*Move os botões 92px para a direta*/
    }
}


/*Celulares*/
@media(max-width: 450px) {
    .container {
        width: 90%; /*Largura*/
    }

    .question {
        font-size: 65%; /*Tamanho da letra*/
    }

    .answers-container {
        display: grid; /*Permite criar layouts de grade bidimensionais*/
        grid-template-columns: 1fr; /*Define os nomes das linhas e as funções de dimensionamento das colunas do grid*/
        margin-left: 18em; /*Move o texto 15em para a esquerda*/
    }

    .button {
        height: 65px; /*Altura*/
    }
}


@media(max-width: 375px) {
    .question {
        font-size: 60%; /*Tamanho da letra*/
    }

    .answers-container {
        margin-left: 16em; /*Move o texto 13em para a esquerda*/
    }
}


@media(max-width: 344px) {
    .question {
      font-size: 90%; /*Tamanho da letra*/
    }
  
    .answers-container {
      margin-left: 11em; /*Move o texto 11em para a esquerda*/
    }
  
    .button {
      width: 300px; /*Largura*/
      margin-right: 30px; /*Move os botões 30px para a direta*/
    }
}